
.body{
    display: flex;
    justify-content: center;
    height: 100%;
    align-items: center;
    background-color: rgb(199, 199, 199);
    background: linear-gradient(rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url(../../../assets/img/BackLogin.jpg);
    background-position: center center;
    background-attachment: fixed;
    background-repeat:no-repeat;
  }
  
.login{
    width: 100%;
    max-width: 330px;
    text-align: center;
    background-color: rgb(199, 199, 199);
    border-radius: 10px;
}

mat-form-field{
    width: 80%;
}
button{
    margin-bottom: 10px;
    height: 50px;
    width: 80%;
}