
<div class="container text-center" >
    <div class="row" >
      <div class="col-6 col-md-4">

        <mat-card>
            <mat-card-title class="titulo">Agregar Categoria</mat-card-title>
            <br>
            <mat-card-content>
            <form [formGroup]="categoriaForm" autocomplete="off">
        
                <mat-form-field appearance="outline">
                    <mat-label>Nombre</mat-label>
                    <input matInput formControlName="Nombre">
                </mat-form-field>
        
                <mat-form-field appearance="outline">
                    <mat-label>Descripcion</mat-label>
                    <input matInput formControlName="Descripcion">
                </mat-form-field>
    
                <div>
                    <button mat-raised-button color="primary"> Agregar </button>
                </div>
            </form>
            </mat-card-content>
        
        
        
        </mat-card>
      </div>

      <!--SEPARADOR-->

      <div class="col-md-8">
        <mat-card>
            <!--TABLA-->
        </mat-card>
      </div>

    </div>
  </div>




<!--TABLA DONDE SE MUESTRAN TODOS LAS CATEGORIAS-->
