<mat-toolbar class="mat-elevation-z8">

    <button mat-icon-button *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
        <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
        <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
    </button>
    eCommers-LMAD
    <mat-icon>shopping_cart</mat-icon>
    <span class="spacer"></span>
    <mat-icon style="color:red;">arrow_right_alt</mat-icon> 
    <mat-icon 
    matTooltip="Carrito de Compras"
    style="color:red; margin-right: 25px; cursor: pointer;">shopping_cart_checkout</mat-icon>
    
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevatio-z8"
            src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
        <h4 class="name">{{user}}</h4>
        <p class="designation">{{roll}}</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/dashboard">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <button mat-button class="menu-button" routerLink="productos">
            <mat-icon>format_list_bulleted_add</mat-icon>
            <span>Producto</span>
        </button>

        <button mat-button class="menu-button" routerLink="categorias">
            <mat-icon>new_label</mat-icon>
            <span>Categoria</span>
        </button>

        <button mat-button class="menu-button" routerLink="listas">
            <mat-icon>playlist_add</mat-icon>
            <span>Listas</span>
        </button>

        <button mat-button class="menu-button" routerLink="">
            <mat-icon>area_chart</mat-icon>
            <span>Consultas</span>
        </button>

        <button mat-button class="menu-button" routerLink="metodos-pago">
            <mat-icon>add_card</mat-icon>
            <span>Metodos Pago</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="perfil">
            <mat-icon>person</mat-icon>
            <span>Perfil</span>
        </button>
        
        <mat-divider></mat-divider>

        <button mat-button class="menu-button" matTooltip="Cerrar Sesion" >
            <!--routerLink="/help"-->
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>

    </mat-sidenav>

    <!--ESPACIO DONDE SE MOSTRARA EL CONTENIDO-->
    <mat-sidenav-content>
        <div class="content mat-elevation-z8" style="background-color:gainsboro;">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>

