<mat-toolbar  class="mat-elevation-z8">

    <button
    mat-icon-button
    *ngIf="sidenav.mode === 'over'"
    (click)="sidenav.toggle()"
  >
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
    eCommers-LMAD
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

        <img class="avatar mat-elevatio-z8"
        src="https://t3.ftcdn.net/jpg/03/46/83/96/360_F_346839683_6nAPzbhpSkIpb8pmAwufkC7c5eD7wYws.jpg">
        <h4 class="name">Jonh Smith</h4>
        <p class="designation">Software Engineer</p>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button" routerLink="/">
            <mat-icon>home</mat-icon>
            <span>Home</span>
        </button>

        <button mat-button class="menu-button" > <!--routerLink="/home"-->
            <mat-icon>person</mat-icon>
            <span>Profile</span>
        </button>

        <button mat-button class="menu-button"> <!--routerLink="/home"-->
            <mat-icon>shop</mat-icon>
            <span>Tienda</span>
        </button>

        <mat-divider></mat-divider>

        <button mat-button class="menu-button"> <!--routerLink="/help"-->
          <mat-icon>exit</mat-icon>
          <span>Logout</span>
        </button>

    </mat-sidenav>
    
    <mat-sidenav-content>
        <div class="content mat-elevation-z8" style="background-color:gainsboro;">

            <router-outlet></router-outlet>
            
        </div>
    </mat-sidenav-content>

</mat-sidenav-container>